<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--使用Spring创建对象，再Spring这些都称为bean
    类型 变量名 = new 类型();
    Hello hello = new Hello();
    id = 变量名
    class = 类型
    property = 属性值
-->
    <bean id="hello" class="org.ssgh.poji.Hello">
        <property name="str" value="Spring"/>
    </bean>
</beans>