<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlImpl" class="org.ssgh.dao.UserDaoMySQLImpl"/>
    <bean id="oracleImpl" class="org.ssgh.dao.UserDaoOracleImpl"/>
    <bean id="Impl" class="org.ssgh.dao.UserDaoImpl"/>

    <bean id="UserServiceImpl" class="org.ssgh.service.UserServiceImpl">
<!--
        ref: 引用Spring容器中创建好的对象
-->
        <property name="userDao" ref="Impl"/>
    </bean>
</beans>